# DMA COURSE PROJECT
### 5th Sem, CSE 
### Team 07 
|             NAME            	|          USN        	|
|:---------------------------:	|:-------------------:	|
|         Arpit   Arora       	|     01FE19BCS232    	|
|          Yash   Raj         	|     01FE19BCS229    	|
|     Sivanand   Mahapatra    	|     01FE19BCS230    	|
|        Nitish   Kumar       	|     01FE19BCS227    	|
|           Nihad   J         	|     01FE19BCS260    	|


## 5DMACP05 - Cryptocurrency Closing Price Prediction Challenge 




## 1. Problem Statement

> After the boom and bust of cryptocurrencies’ prices in recent years, cryptocurrencies have been increasingly regarded as an investment asset. Because of their highly volatile nature, there is a need for good predictions on which to base investment decisions. Different existing studies have leveraged machine learning for more accurate cryptocurrency price prediction. We are interested in applying different modeling techniques to samples with different data structures (qualitative and quantitative data) and dimensional features to achieve an optimization in price prediction.


## 2. Data

[Dataset from Zindi](https://zindi.africa/competitions/cryptocurrency-closing-price-prediction/data), 

There are 3 datasets:
1. **Train.csv** - contains the target. This is the dataset that you will use to train your model..
2. **Test.csv** - resembles Train.csv but without the target-related columns. This is the dataset on which you will apply your model to..
3. **SampleSubmission.csv** - shows the submission format for this competition, with the ‘id’ column mirroring that of Test.csv and the close column containing your predictions.

## 3. Evaluation

For this problem, our main goal is to reach and exceed a given threshold (a specified RMSE score) in the final developed model.

To see how well our model is doing, we'll calculate the RMSE and then compare our results to others on the [Zindi leaderboard](https://zindi.africa/competitions/cryptocurrency-closing-price-prediction/leaderboard).

## 4. Features

For this dataset, Zindi provided a [data dictionary](https://zindi.africa/competitions/cryptocurrency-closing-price-prediction/data)  which contains information about what each attribute of the dataset means. 

The target value is the closing price. We have data extracted in an interval of 1h for a period of one year (from 1st of March 2020 to 1st of March 2021).

## EDA

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Loading datasets

In [2]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
ss = pd.read_csv('SampleSubmission.csv')

### Exploring the data

In [3]:
test.head()

,id,asset_id,open,high,low,volume,market_cap,url_shares,unique_url_shares,reddit_posts,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_volume,percent_change_24h,market_cap_global
0,ID_323Sn2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
1,ID_325SNW,1,11335.062190,11351.690960,11335.062190,1.064152e+09,2.101460e+11,1664.0,1045.0,64.0,...,1.0,711.0,2.0,1.0,1.0,1.0,1.0,7245,-0.555698,3.631050e+11
2,ID_325uzE,1,6322.560756,6328.362354,6294.714484,1.516268e+09,1.153860e+11,397.0,255.0,11.0,...,1.0,715.0,2.0,1.0,1.0,NaN,NaN,2702,1.689370,1.771070e+11
3,ID_328qCx,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225,NaN,NaN
4,ID_3293uJ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN,NaN

## Data Preprocessing

### Looking for missing values

In [ ]:
# ax = train.isna().sum().sort_values().plot(kind = 'barh', figsize = (9, 10))
# plt.title('Percentage of Missing Values Per Column in Train Set', fontdict={'size':15})
# for p in ax.patches:
#     percentage ='{:,.0f}%'.format((p.get_width()/train.shape[0])*100)
#     width, height =p.get_width(),p.get_height()
#     x=p.get_x()+width+0.02
#     y=p.get_y()+height/2
#     ax.annotate(percentage,(x,y))

In [ ]:
# ax = test.isna().sum().sort_values().plot(kind = 'barh', figsize = (9, 10))
# plt.title('Percentage of Missing Values Per Column in Test Set', fontdict={'size':15})

# for p in ax.patches:
#     percentage ='{:,.1f}%'.format((p.get_width()/test.shape[0])*100)
#     width, height =p.get_width(),p.get_height()
#     x=p.get_x()+width+0.02
#     y=p.get_y()+height/2
#     ax.annotate(percentage,(x,y))

### Correlation analysis

In [ ]:
# train.corr()['close'].sort_values(ascending=False)

In [ ]:
# train.isnull().sum()

#### Dropping rows where entries of most important columns are missing

In [5]:
newTest=newTest[newTest.isnull().any(axis=1)]

In [6]:
newTest=newTest.fillna(0)

In [7]:
newTest.to_csv("nullRows.csv")

In [4]:
# list of relevant columns to keep

useful = ['id', 'open']
drop = []
for x in list(test.columns):
  if x not in useful:
    drop.append(x)


# dropping irrelevant columns in test set

newTest = test.drop(labels = drop,
          axis = 1)

In [4]:
test

,id,asset_id,open,high,low,volume,market_cap,url_shares,unique_url_shares,reddit_posts,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_volume,percent_change_24h,market_cap_global
0,ID_323Sn2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
1,ID_325SNW,1,11335.062190,11351.690960,11335.062190,1.064152e+09,2.101460e+11,1664.0,1045.0,64.0,...,1.0,711.0,2.0,1.0,1.0,1.0,1.0,7245,-0.555698,3.631050e+11
2,ID_325uzE,1,6322.560756,6328.362354,6294.714484,1.516268e+09,1.153860e+11,397.0,255.0,11.0,...,1.0,715.0,2.0,1.0,1.0,NaN,NaN,2702,1.689370,1.771070e+11
3,ID_328qCx,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225,NaN,NaN
4,ID_3293uJ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,ID_zufSPk,1,8266.942912,8266.942912,8259.796103,3.100637e+08,1.491230e+11,618.0,438.0,15.0,...,1.0,921.0,2.0,1.0,1.0,NaN,NaN,1494,-0.967973,2.262120e+11
6218,ID_zuz9yf,1,10869.612770,10873.493490,10865.827630,6.989360e+08,2.011600e+11,1608.0,911.0,84.0,...,1.0,807.0,2.0,1.0,1.0,NaN,6.0,7065,NaN,3.523270e+11
6219,ID_zvrMSX,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175,NaN,NaN
6220,ID_zy9Cfv,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN
6221,ID_zyAFd7,1,7058.172796,7078.973345,7052.332304,4.730933e+08,1.275510e+11,954.0,672.0,20.0,...,1.0,858.0,2.0,1.0,1.0,NaN,NaN,3469,-3.289226,1.926560e+11

In [5]:
train.dropna(axis=0,
          subset = ['open', 'market_cap', 'market_cap_global', 'volatility', 'percent_change_24h', 'volume'],
          inplace = True)
# test.dropna(axis=0,
#           subset = ['open'],
#           inplace = True)

#### Checking for remaining null values

In [ ]:
# test.info()

#### Removing columns with percentage of missing values > 60

In [6]:
train.drop(['medium', 'youtube'], axis=1,inplace=True)
train.head()

,id,asset_id,open,high,low,volume,market_cap,url_shares,unique_url_shares,reddit_posts,...,volatility,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,social_volume,percent_change_24h,market_cap_global,close
0,ID_322qz6,1,9422.849081,9428.490628,9422.849081,7.131986e+08,1.737635e+11,1689.0,817.0,55.0,...,0.007118,1.0,606.0,2.0,1.0,1.0,4422,1.434516,2.818066e+11,9428.279323
1,ID_3239o9,1,7985.359278,7992.059917,7967.567267,4.004755e+08,1.426942e+11,920.0,544.0,20.0,...,0.009419,1.0,NaN,NaN,NaN,NaN,2159,-2.459507,2.126897e+11,7967.567267
2,ID_323J9k,1,49202.033778,49394.593518,49068.057046,3.017729e+09,9.166977e+11,1446.0,975.0,72.0,...,0.013530,1.0,692.0,3.0,1.0,1.0,10602,4.942448,1.530712e+12,49120.738484
4,ID_324kJH,1,10535.737119,10535.737119,10384.798216,1.150053e+09,1.921183e+11,1012.0,638.0,24.0,...,0.010332,1.0,749.0,2.0,1.0,1.0,3996,2.609576,3.386925e+11,10384.798216
6,ID_325m2L,1,9697.250948,9712.247413,9697.250948,1.231231e+09,1.767035e+11,1079.0,661.0,66.0,...,0.008594,1.0,656.0,2.0,1.0,1.0,4713,1.159070,2.807819e+11,9712.247413

In [7]:
test.drop(['medium', 'youtube'], axis=1,inplace=True)
test.head()

,id,asset_id,open,high,low,volume,market_cap,url_shares,unique_url_shares,reddit_posts,...,galaxy_score,volatility,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,social_volume,percent_change_24h,market_cap_global
0,ID_323Sn2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
1,ID_325SNW,1,11335.062190,11351.690960,11335.062190,1.064152e+09,2.101460e+11,1664.0,1045.0,64.0,...,65.5,0.004407,1.0,711.0,2.0,1.0,1.0,7245,-0.555698,3.631050e+11
2,ID_325uzE,1,6322.560756,6328.362354,6294.714484,1.516268e+09,1.153860e+11,397.0,255.0,11.0,...,65.5,0.024035,1.0,715.0,2.0,1.0,1.0,2702,1.689370,1.771070e+11
3,ID_328qCx,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225,NaN,NaN
4,ID_3293uJ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN,NaN

#### Removing columns which are barely useful

In [12]:
# list of relevant columns to keep

useful = ['id', 'open', 'high', 'low', 'volume', 'market_cap', 'social_score',
          'average_sentiment', 'price_score', 'social_impact_score',
          'correlation_rank', 'volatility', 'market_cap_global',
          'percent_change_24h', 'close']

# appending relevant columns to an empty list
drop = []
for x in list(train.columns):
  if x not in useful:
    drop.append(x)

train.drop(labels= drop,
        axis = 1,
        inplace = True)
train.head()

,id,open,high,low,volume,market_cap,social_score,average_sentiment,price_score,social_impact_score,correlation_rank,volatility,percent_change_24h,market_cap_global,close
0,ID_322qz6,9422.849081,9428.490628,9422.849081,7.131986e+08,1.737635e+11,11681999.0,3.6,2.7,3.6,3.3,0.007118,1.434516,2.818066e+11,9428.279323
1,ID_3239o9,7985.359278,7992.059917,7967.567267,4.004755e+08,1.426942e+11,5924770.0,3.7,2.0,2.0,1.0,0.009419,-2.459507,2.126897e+11,7967.567267
2,ID_323J9k,49202.033778,49394.593518,49068.057046,3.017729e+09,9.166977e+11,47796942.0,3.7,3.1,3.0,3.3,0.013530,4.942448,1.530712e+12,49120.738484
4,ID_324kJH,10535.737119,10535.737119,10384.798216,1.150053e+09,1.921183e+11,14426405.0,3.7,4.7,3.8,4.4,0.010332,2.609576,3.386925e+11,10384.798216
6,ID_325m2L,9697.250948,9712.247413,9697.250948,1.231231e+09,1.767035e+11,30476752.0,3.7,3.5,3.0,3.1,0.008594,1.159070,2.807819e+11,9712.247413

In [13]:
drop = []
for x in list(test.columns):
  if x not in useful:
    drop.append(x)


# dropping irrelevant columns in test set

test.drop(labels = drop,
          axis = 1,
          inplace = True)

test.head()

,id,open,high,low,volume,market_cap,social_score,average_sentiment,price_score,social_impact_score,correlation_rank,volatility,percent_change_24h,market_cap_global
1,ID_325SNW,11335.062190,11351.690960,11335.062190,1.064152e+09,2.101460e+11,23465365.0,3.7,3.2,3.4,2.8,0.004407,-0.555698,3.631050e+11
2,ID_325uzE,6322.560756,6328.362354,6294.714484,1.516268e+09,1.153860e+11,3832828.0,3.7,3.0,3.0,3.4,0.024035,1.689370,1.771070e+11
5,ID_329H37,12309.911240,12317.022590,12286.508940,1.045155e+09,2.270840e+11,35113830.0,3.7,3.1,3.8,5.0,0.013678,3.920331,3.916730e+11
6,ID_32DnK8,9301.916435,9301.916435,9293.747775,6.607626e+08,1.705120e+11,23962084.0,3.6,2.8,4.0,3.2,0.009051,-0.510029,2.665700e+11
7,ID_32EeyA,23621.598960,23708.073780,23621.598960,1.625806e+09,NaN,67899726.0,3.7,2.7,3.0,4.2,0.016748,2.943637,NaN

In [8]:
train.shape, test.shape

((8039, 47), (6222, 46))

In [9]:
train=train.fillna(0)

In [10]:
test=test.fillna(0)

In [11]:
test.isnull().sum()

id                         0
asset_id                   0
open                       0
high                       0
low                        0
volume                     0
market_cap                 0
url_shares                 0
unique_url_shares          0
reddit_posts               0
reddit_posts_score         0
reddit_comments            0
reddit_comments_score      0
tweets                     0
tweet_spam                 0
tweet_followers            0
tweet_quotes               0
tweet_retweets             0
tweet_replies              0
tweet_favorites            0
tweet_sentiment1           0
tweet_sentiment2           0
tweet_sentiment3           0
tweet_sentiment4           0
tweet_sentiment5           0
tweet_sentiment_impact1    0
tweet_sentiment_impact2    0
tweet_sentiment_impact3    0
tweet_sentiment_impact4    0
tweet_sentiment_impact5    0
social_score               0
average_sentiment          0
news                       0
price_score                0
social_impact_score        0
correlation_rank           0
galaxy_score               0
volatility                 0
market_cap_rank            0
percent_change_24h_rank    0
volume_24h_rank            0
social_volume_24h_rank     0
social_score_24h_rank      0
social_volume              0
percent_change_24h         0
market_cap_global          0
dtype: int64

In [ ]:
# train.to_csv("train_v1.csv")

## Data Visualisation

In [ ]:
# plt.figure(figsize=(12,6))
# sns.histplot(data=train,x="close", bins=20)

In [ ]:
# plt.figure(figsize=(12,6))
# sns.lineplot(x='market_cap_global',y='close',data=train)

In [ ]:
# plt.figure(figsize=(12,6))
# sns.lineplot(x='open',y='close',data=train)

In [ ]:
# plt.figure(figsize=(12,6))
# sns.scatterplot(x='tweet_spam',y='close',data=train)

In [ ]:
# sns.pairplot(train)

In [ ]:
# plt.figure(figsize=(15,10))
# sns.heatmap(train.corr())

## Learning Models

### Linear Regression Model

#### X and y arrays

In [12]:
# Creating the X and y variables

X = train.drop(['id','close'], axis=1)
y = train['close']

# features
features = list(X.columns)
X_test = test.drop(['id'], axis=1)
y_train = y

In [13]:
y_train
X_test

,asset_id,open,high,low,volume,market_cap,url_shares,unique_url_shares,reddit_posts,reddit_posts_score,...,galaxy_score,volatility,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,social_volume,percent_change_24h,market_cap_global
0,1,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,7.0,56.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,9,0.000000,0.000000e+00
1,1,11335.062190,11351.690960,11335.062190,1.064152e+09,2.101460e+11,1664.0,1045.0,64.0,213.0,...,65.5,0.004407,1.0,711.0,2.0,1.0,1.0,7245,-0.555698,3.631050e+11
2,1,6322.560756,6328.362354,6294.714484,1.516268e+09,1.153860e+11,397.0,255.0,11.0,72.0,...,65.5,0.024035,1.0,715.0,2.0,1.0,1.0,2702,1.689370,1.771070e+11
3,1,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,8.0,96.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,225,0.000000,0.000000e+00
4,1,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,26.0,49.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,59,0.000000,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,1,8266.942912,8266.942912,8259.796103,3.100637e+08,1.491230e+11,618.0,438.0,15.0,202.0,...,61.5,0.007076,1.0,921.0,2.0,1.0,1.0,1494,-0.967973,2.262120e+11
6218,1,10869.612770,10873.493490,10865.827630,6.989360e+08,2.011600e+11,1608.0,911.0,84.0,204.0,...,67.5,0.005486,1.0,807.0,2.0,1.0,1.0,7065,0.000000,3.523270e+11
6219,1,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,8.0,139.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,175,0.000000,0.000000e+00
6220,1,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,6.0,85.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,0.000000,0.000000e+00
6221,1,7058.172796,7078.973345,7052.332304,4.730933e+08,1.275510e+11,954.0,672.0,20.0,110.0,...,62.5,0.012064,1.0,858.0,2.0,1.0,1.0,3469,-3.289226,1.926560e+11

In [14]:
from sklearn.preprocessing import StandardScaler

#### Standardization

In [15]:
# Instantiate standard scaler

scaler = StandardScaler()

# transform data
X = scaler.fit_transform(X)
X_test = scaler.fit_transform(X_test)
X_test

array([[ 0.        , -0.77478965, -0.77341433, ..., -0.80000528,
        -0.0704392 , -0.70841292],
       [ 0.        ,  0.06855475,  0.06690429, ...,  0.6890067 ,
        -0.25684646,  0.14674036],
       [ 0.        , -0.30438233, -0.3049519 , ..., -0.24584425,
         0.49625449, -0.29130593],
       ...,
       [ 0.        , -0.77478965, -0.77341433, ..., -0.76584608,
        -0.0704392 , -0.70841292],
       [ 0.        , -0.77478965, -0.77341433, ..., -0.80062262,
        -0.0704392 , -0.70841292],
       [ 0.        , -0.24965177, -0.24938728, ..., -0.08801227,
        -1.17379964, -0.25468628]])

#### Train Test Split

In [22]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

#### Creating and Training the Model

In [16]:
lm = LinearRegression()

In [17]:
lm.fit(X,y_train)

LinearRegression()

In [18]:
print(lm.intercept_)

15290.42279503769

In [19]:
lm.coef_

array([-4.56276637e-13, -5.34384834e+03,  7.95686353e+03,  5.34408799e+03,
        2.30441756e+00,  6.23162975e+03, -4.64064057e+00,  1.23497356e+01,
       -5.25294454e+00, -8.35503736e-01,  6.34257448e+00,  1.01486324e+00,
       -4.87581734e+01, -1.80374860e+01, -4.21894927e+01, -1.15783420e+00,
        2.15710721e+00,  1.69054380e+00, -3.37909019e+00,  4.15492124e+00,
        1.07393249e+01,  1.49609518e+01,  7.20330197e+01, -4.51218722e+00,
       -2.25604729e+00, -1.65393381e+00,  1.40107960e+00, -1.35569913e+01,
        5.76084526e+00,  5.46866557e+01,  1.07423656e+01, -3.41229674e+00,
        6.59694302e+01,  4.69360491e+01,  6.13742555e+01, -1.05931903e+02,
       -4.85811550e+00, -4.20882635e+00, -5.66765657e-01, -4.52553913e+00,
       -1.78248849e+00, -4.07066093e+00, -4.53816724e+01,  3.73902880e+00,
        5.92311110e+01])

In [20]:
X_test

array([[ 0.        , -0.77478965, -0.77341433, ..., -0.80000528,
        -0.0704392 , -0.70841292],
       [ 0.        ,  0.06855475,  0.06690429, ...,  0.6890067 ,
        -0.25684646,  0.14674036],
       [ 0.        , -0.30438233, -0.3049519 , ..., -0.24584425,
         0.49625449, -0.29130593],
       ...,
       [ 0.        , -0.77478965, -0.77341433, ..., -0.76584608,
        -0.0704392 , -0.70841292],
       [ 0.        , -0.77478965, -0.77341433, ..., -0.80062262,
        -0.0704392 , -0.70841292],
       [ 0.        , -0.24965177, -0.24938728, ..., -0.08801227,
        -1.17379964, -0.25468628]])

# Predicting values using LinearRegression model

In [21]:
predictions = lm.predict(X_test)
predictions
pred = pd.DataFrame({'open': test['open'], 'close': predictions})
pred

              open         close
0         0.000000   4409.968968
1     11335.062190  16480.414166
2      6322.560756  11149.902998
3         0.000000   4422.917263
4         0.000000   4408.409129
...            ...           ...
6217   8266.942912  13144.913939
6218  10869.612770  15947.872057
6219      0.000000   4419.883122
6220      0.000000   4409.995644
6221   7058.172796  11901.210165

[6222 rows x 2 columns]

In [ ]:
##Scatterplot of real values in train.csv dataset vs predicted values

# plt.scatter(y_test,predictions)
# plt.xlabel('Y Test')
# plt.ylabel('Predicted Y')

In [ ]:
# sns.distplot((y_test-predictions));

Evaluating model Performance

In [ ]:
# from sklearn import metrics

# print('MAE:', metrics.mean_absolute_error(y_test, predictions))
# print('MSE:', metrics.mean_squared_error(y_test, predictions))
# print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

# Using Polynomial Regression

In [31]:
from sklearn.preprocessing import PolynomialFeatures

In [32]:
#Fitting the polynomial features to the X_train and X_test

poly_features = PolynomialFeatures(degree = 2)
X_poly_train= poly_features.fit_transform(X)
X_poly_test = poly_features.transform(X_test)

In [33]:
# Training the model
poly_reg = LinearRegression()
poly_reg.fit(X_poly_train, y_train)

LinearRegression()

In [34]:
# Making predictions
poly_ypred = poly_reg.predict(X_poly_test)
poly_ypred

pred = pd.DataFrame({'open': test['open'], 'close': poly_ypred})
predNew = pred['close']
predNew

1        11535.530446
2         6397.465467
5        12539.847294
6         9496.874380
7       148148.768808
            ...
6215      8451.898091
6216      9134.322939
6217      8414.298769
6218     11036.803813
6221      7174.716000
Name: close, Length: 4304, dtype: float64

In [ ]:
# test=test.reset_index()

In [ ]:
# test= test.drop('index', axis=1)

In [ ]:
# test = test.drop('level_0', axis=1)
# test

In [35]:
sub=test.join(predNew)
sub.rename(columns = {0:'close'}, inplace = True)
sub.head()
# sub1=sub[['id','close']]
# sub1.head()
# sub1.to_csv('sub1_poly.csv', index=False)

,id,open,high,low,volume,market_cap,social_score,average_sentiment,price_score,social_impact_score,correlation_rank,volatility,percent_change_24h,market_cap_global,close
1,ID_325SNW,11335.062190,11351.690960,11335.062190,1.064152e+09,2.101460e+11,23465365.0,3.7,3.2,3.4,2.8,0.004407,-0.555698,3.631050e+11,11535.530446
2,ID_325uzE,6322.560756,6328.362354,6294.714484,1.516268e+09,1.153860e+11,3832828.0,3.7,3.0,3.0,3.4,0.024035,1.689370,1.771070e+11,6397.465467
5,ID_329H37,12309.911240,12317.022590,12286.508940,1.045155e+09,2.270840e+11,35113830.0,3.7,3.1,3.8,5.0,0.013678,3.920331,3.916730e+11,12539.847294
6,ID_32DnK8,9301.916435,9301.916435,9293.747775,6.607626e+08,1.705120e+11,23962084.0,3.6,2.8,4.0,3.2,0.009051,-0.510029,2.665700e+11,9496.874380
7,ID_32EeyA,23621.598960,23708.073780,23621.598960,1.625806e+09,0.000000e+00,67899726.0,3.7,2.7,3.0,4.2,0.016748,2.943637,0.000000e+00,148148.768808

In [36]:
sub2=sub[['id','close']]

In [37]:
newTest.rename({'open': 'close'}, axis=1, inplace=True)

In [38]:
newTest

             id  close
0     ID_323Sn2    0.0
3     ID_328qCx    0.0
4     ID_3293uJ    0.0
14    ID_32QXZB    0.0
16    ID_32SBbT    0.0
...         ...    ...
6200  ID_zYeKnc    0.0
6209  ID_zh3st5    0.0
6211  ID_zkcPg2    0.0
6219  ID_zvrMSX    0.0
6220  ID_zy9Cfv    0.0

[1918 rows x 2 columns]

In [40]:
sub3.isna().sum()

id       0
close    0
dtype: int64

In [41]:
sub3=sub3.fillna(0)

In [39]:
sub3=pd.concat([newTest, sub2], axis=0).sort_index()

In [42]:
sub3.to_csv('sub2_poly.csv', index=False)
sub3

             id         close
0     ID_323Sn2      0.000000
1     ID_325SNW  11535.530446
2     ID_325uzE   6397.465467
3     ID_328qCx      0.000000
4     ID_3293uJ      0.000000
...         ...           ...
6217  ID_zufSPk   8414.298769
6218  ID_zuz9yf  11036.803813
6219  ID_zvrMSX      0.000000
6220  ID_zy9Cfv      0.000000
6221  ID_zyAFd7   7174.716000

[6222 rows x 2 columns]

In [ ]:
newTest

In [ ]:
sub2

In [ ]:
pred = pd.DataFrame({'Open': test['open'], 'Close': sub['close']})
pred

In [ ]:
# Scatterplot of predicted values vs Actual values

plt.scatter(sub['open'],sub['close'])
plt.xlabel('Open')
plt.ylabel('Close')

In [ ]:
# sns.distplot((y_test-poly_ypred));

In [ ]:
# Measuring the accuracy of the model

print("The RMSE score for the polynomial model : ", np.sqrt(metrics.mean_squared_error(y_test, poly_ypred)))

# Using RandomForest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
# Instantiate model with 1000 decision trees
rf_model  =  RandomForestRegressor(n_estimators=1000, random_state=42)

# Train the model

rf_model  =  rf_model.fit(X_train, y_train)

In [ ]:
# Making predictions based on the trained model 

rf_ypred = rf_model.predict(X_test)

pred = pd.DataFrame({'Actual': y_test, 'Predicted': rf_ypred})
pred

In [ ]:
# Scatterplot of predicted values vs Actual values

plt.scatter(y_test,rf_ypred)
plt.xlabel('Y Test')
plt.ylabel('Predicted Y')

In [ ]:
sns.distplot((y_test- rf_ypred));

In [ ]:
# Measuring the accuracy of the model

print("The RMSE score for the RandomForest model : ", np.sqrt(metrics.mean_squared_error(y_test, rf_ypred)))